
run = "npm start"

[deployment]
run = ["npm", "run", "build"]
deploymentTarget = "static"
publicDir = "/"

[[deployment.responseHeaders]]
path = "/*"
name = "Cache-Control"
value = "public, max-age=3600"

[[deployment.responseHeaders]]
path = "/assets/*"
name = "Cache-Control"
value = "public, max-age=86400"

[[deployment.rewrites]]
from = "/gallery"
to = "/gallery.html"

[[deployment.rewrites]]
from = "/about"
to = "/about.html"

[[deployment.rewrites]]
from = "/contact"
to = "/contact.html"

[[deployment.rewrites]]
from = "/opportunities"
to = "/opportunities.html"

[[deployment.rewrites]]
from = "/testimonies"
to = "/testimonies.html"

[[deployment.rewrites]]
from = "/gratitude"
to = "/gratitude.html"

[[deployment.rewrites]]
from = "/search"
to = "/search.html"

[[deployment.rewrites]]
from = "/learn"
to = "/learn.html"

[[deployment.rewrites]]
from = "/notifications"
to = "/notifications.html"

[[deployment.rewrites]]
from = "/login"
to = "/login.html"

[[deployment.rewrites]]
from = "/signup"
to = "/signup.html"

[[deployment.rewrites]]
from = "/admin"
to = "/admin.html"

[workflows]

[[workflows.workflow]]
name = "Executar "
mode = "sequential"
author = 46693382

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start "
